doctype html
html(lang='en')
  head
    //Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115738654-2")
    <script>
      // window.dataLayer = window.dataLayer || [];
      // function gtag(){dataLayer.push(arguments);}
      // gtag('js', new Date());
      // 
      // gtag('config', 'UA-115738654-2');
    </script>
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Personal website of Jeffrey Shen, a developer and student at Phillips Academy.")
    meta(name = "author" content = "Jeffrey Shen")
    title Jeffrey Shen
    link(href='Assets/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='Assets/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
    script(src='Assets/bower_components/jquery/dist/jquery.min.js')
    script(src='Assets/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='dist/main-min.js')
  body
    header
      nav
        //- a.light(href = "#about") About
        a.light(href = "#featured") Featured Work
        a.light(href = "#portfolio") Portfolio
        a.light(href = "#books") Reading
      center
        h1 Hi! I'm Jeffrey
        p I'm a student and programmer at Phillips Academy interested in the intersection between computer science, big data, politics, and history. 
        br
        a.btn(href='mailto:jeffreyshencc@gmail.com') Contact Me
        a.btn.btn-full(href = "https://drive.google.com/open?id=0B6w9AP5vVyo9REVlY0Rqd3BpSzA" target = "_blank") View Resume
      #bottom
        i.caption Scroll for more
        br
        a(href = "https://github.com/jeffreyshen19" target = "_blank" title = "Github")
          i.fa.fa-github.fa-fw
        a(href = "https://www.linkedin.com/in/jeffrey-shen-39576ab1/" target = "_blank" title = "LinkedIn")
          i.fa.fa-fw.fa-linkedin-square
    #body
      #featured.row.box.scrollbox
        i.fa.icon.fa-fw.fa-star
        h2 FEATURED WORK
        hr
        br
        .projects
          .project
            h3 Russian Internet Meddling
            p A four-part blog series exploring Russian Internet meddling in American cyberspace. 
            p.links
              a(href = "https://github.com/DPCLab" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://dpclab.org/russia" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          .project
            h3 Weibo Censorship Dashboard
            a(href = "https://ssrn.com/abstract=3266193" target = "_blank") Read the research paper.
            p An almost real-time, fully open-source feed of censorship on the popuar Chinese social media site Weibo.
            p.links
              a(href = "https://github.com/DPCLab" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://dpclab.org/china/dashboard" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          .project
            h3 Political Cartoon Visualizer
            a(href = "              https://blogs.loc.gov/thesignal/2018/08/exploring-late-1800s-political-cartoons-through-interactive-data-visualizations/" target = "_blank") Featured on the LC Labs blog!
            p An exploration of the late 1800s through political cartoons of the era. Developed for an internship with the Library of Congress.
            p.links
              a(href = "https://github.com/jeffreyshen19/political-cartoon-visualizer" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://jeffreyshen19.github.io/political-cartoon-visualizer/" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          .project
            h3 Seats-Votes Curves
            p A historical primer on Congressional seat-votes curves and partisan bias, symmetry, and responsiveness, from 2000 - 2016.
            p.links
              a(href = "https://github.com/jeffreyshen19/Seats-Votes-Curves" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://jeffreyshen19.github.io/Seats-Votes-Curves/" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          .project
            h3 Is My District Gerrymandered? 
            p A website which tells you if your congressional district is gerrymandered.
            p.links
              a(href = "https://github.com/jeffreyshen19/Is-My-District-Gerrymandered" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://ismydistrictgerrymandered.us" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          .project
            h3 State of the Academy 2018  
            p A website for <i>The Phillipian</i>'s annual State of the Academy survey.
            p.links
              a(href = "https://github.com/phillipian/State-of-the-Academy-2018" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://sota.phillipian.net" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 Virtual IoT Server
            p Code developed as part of a cybersecurity internship with Dr. Peter Reiher @ UCLA. Sets up a virtual server to secure previously unencrypted Internet of Things communication
            p.links
              a(href = "https://github.com/jeffreyshen19/Virtual-IoT-Server" target = "_blank") 
                i.fa.fa-fw.fa-code  
      #portfolio.row.box.scrollbox
        i.fa.icon.fa-fw.fa-briefcase
        h2 PORTFOLIO
        hr
        br
        .projects
          .project-header Websites
          .project
            h3 The Printer @ PA 
            p The website for the The Printer @ PA, an organization at Phillips Academy that prints custom t-shirts. Written using Node.js, Pug (An HTML preprocessor), and SCSS.
            p.links
              a(href = "https://github.com/jeffreyshen19/Printer-at-PA" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://www.theprinteratpa.com" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 Blue Moon
            p The website for Blue Moon, the first print and online STEM magazine at Phillips Academy. Written on the Jekyll framework, using ruby, HTML, and CSS.
            p.links
              a(href = "https://github.com/jeffreyshen19/Blue-Moon" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://bluemoonjournal.com" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 Anonymous News Tips
            p An anonymous website to submit news tips for <i>The Phillipian</i>.
            p.links
              a(href = "http://github.com/phillipian/anonymous-tipbox" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://tips.phillipian.net" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          .project
            h3 Website for Dr. Van Savage
            p A personal webpage for Dr. Savage, Professor at UCLA. Written using standard HTML, CSS, and Javascript.
            p.links
              a(href = "http://faculty.biomath.ucla.edu/vsavage/" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 Techmasters
            p Website for Techmasters, a student run organization dedicated to providing tech help for the Phillips Academy Community. Written using HTML and CSS.
            p.links
              a(href = "https://github.com/PATechmasters/techmasters.io" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://techmasters.io" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 Andover / Exeter Day Website 2017
            p Website for <i>The Phillipian</i>'s 2017 coverage of AE Day. 
            p.links
              a(href = "https://github.com/phillipian/aeday-2017" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://aeday.phillipian.net" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 Polar Area Calculator
            p An interactive polar grapher that can solve for the area bounded by polar curves. Created as a final calculus project for future calculus students at Phillips Academy.
            p.links
              a(href = "https://github.com/jeffreyshen19/Polar-Area-Calculator" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://jeffreyshen19.github.io/Polar-Area-Calculator/" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 Level Curve Plotter
            p A project for Math 650 at Andover that plots and solves level curves and partial derivatives.
            p.links
              a(href = "https://github.com/jeffreyshen19/Level-Curve-Plotter" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://jeffreyshen19.github.io/Level-Curve-Plotter/" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          br
          br
          .project-header Data Visualization
          .project
            h3 Civil Asset Forfeiture in California
            p Data visualization showing civil asset forfeitures by county in California. Created using Javascript and D3.
            p.links
              a(href = "https://github.com/jeffreyshen19/Asset-Forfeiture-in-California" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "http://jeffreyshen19.github.io/Asset-Forfeiture-in-California/" target = "_blank") 
                i.fa.fa-fw.fa-external-link 
          .project
            h3 The Spread of Communism
            p A data visualization showing the rise and fall of global communism, from 1917 to 2017. Created using leaflet and JS.
            p.links
              a(href = "https://github.com/jeffreyshen19/The-Spread-of-Communism" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://jeffreyshen19.github.io/The-Spread-of-Communism/" target = "_blank")  
                i.fa.fa-fw.fa-external-link 
          br
          br
          .project-header Open Source
          .project
            h3 Parallax.c
            p An extensible library of code developed to make programming competitive VEX robots easier. Developed as part of Phillips Academy's VEX robotics program. 
            p.links
              a(href = "https://github.com/PARobotics/Robotics-Library" target = "_blank") 
                i.fa.fa-fw.fa-code 
          .project
            h3 BillScraper.js
            p Open Source NPM module which aids in scraping, parsing, and analyzing congressional bills. 
            p.links
              a(href = "https://github.com/jeffreyshen19/BillScraper.js" target = "_blank") 
                i.fa.fa-fw.fa-code 
          br
          br
          .project-header Miscellaneous
          .project
            h3 Spotify Favorites 
            p Automatically generate a playlist of your 15 favorite songs on Spotify. 
            p.links
              a(href = "https://github.com/jeffreyshen19/spotify-favorites" target = "_blank") 
                i.fa.fa-fw.fa-code
              a(href = "https://spotify-favorites.herokuapp.com/" target = "_blank") 
                i.fa.fa-fw.fa-external-link
          .project
            h3 RegEx Snippets
            p Collection of useful RegEx snippets.
            p.links
              a(href = "https://jeffreyshen19.github.io/RegEx-Snippets/" target = "_blank") 
                i.fa.fa-fw.fa-external-link
      #books.row.box.scrollbox
        i.fa.fa-fw.icon.fa-book
        h2 BOOKS I'VE RECENTLY READ
        hr
        p I love to read! Here are some books I just finished reading:
        br  
        #books-row
        br
        p Check out my Goodreads profile <a href = "https://www.goodreads.com/user/show/45848993-jeffrey" target = "_blank">here</a>.
