doctype html
html(lang='en')
  head
    //Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115738654-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-115738654-2');
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Jeffrey Shen is a student at MIT studying computer science and politics.")
    meta(name = "author" content = "Jeffrey Shen")
    title Jeffrey Shen
    link(href='bower_components/font-awesome/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='bower_components/bulma/css/bulma.min.css', rel='stylesheet', type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
      
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='dist/main-min.js')
  body
    #wrapper.columns 
      .column.is-narrow 
        h1.is-size-2 Jeffrey Shen 
        p Student at MIT interested in the intersection of computer science, politics, and culture.
        br
        img(src = "/assets/graphics/profile.jpg")
        br
        .links.links-large
          p 
            a(href = "#about") About
          p 
            a(href = "#portfolio") Portfolio
          p 
            a(href = "https://blog.jeffreyshen.com" target = "_blank") Blog
        .links.links-small
          p 
            a(href = "http://bit.ly/2vjX9LC" target = "_blank") Resume
          p 
            a(href = "mailto:jjshen@mit.edu") Contact Me
          p 
            a(href = "https://notes.jeffreyshen.com" target = "_blank") Micro Thoughts
        .links.links-icon 
          a(href = "https://github.com/jeffreyshen19" target = "_blank")
            i.fab.fa-github
          a(href = "https://www.linkedin.com/in/jeffrey-shen-39576ab1/" target = "_blank")
            i.fab.fa-linkedin
          a(href = "https://twitter.com/jeffreyshen10" target = "_blank")
            i.fab.fa-twitter
      .column 
    
