doctype html
html(lang='en')
  head
    //Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115738654-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-115738654-2');
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Jeffrey Shen is a student at MIT studying computer science and politics.")
    meta(name = "author" content = "Jeffrey Shen")
    title Jeffrey Shen
    link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='bower_components/bulma/css/bulma.min.css', rel='stylesheet', type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
      
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='dist/main-min.js')
  body
    #wrapper.columns 
      .column.is-narrow 
        h1.is-size-2 Jeffrey Shen 
      .column 
    
