doctype html
html(lang='en')
  head
    //Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115738654-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-115738654-2');
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Jeffrey Shen is a student at MIT studying computer science and politics.")
    meta(name = "author" content = "Jeffrey Shen")
    title Jeffrey Shen
    link(href='bower_components/font-awesome/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='bower_components/bulma/css/bulma.min.css', rel='stylesheet', type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
      
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='dist/main-min.js')
  body
    #wrapper.columns 
      #sidebar.column.is-narrow 
        section
          h1.is-size-2 Jeffrey Shen 
          p cs, cities, & politics!
          br
          img(src = "/assets/graphics/profile.jpg")
          br
          .links.links-large
            p 
              a(href = "#about") About
            p 
              a(href = "#portfolio") Portfolio
          .links.links-small
            p 
              a(href = "http://bit.ly/2vjX9LC" target = "_blank") Resume
            p 
              a(href = "https://blog.jeffreyshen.com" target = "_blank") Blog
            p 
              a(href = "https://notes.jeffreyshen.com" target = "_blank") Micro Thoughts
          .links.links-icon 
            a(href = "https://github.com/jeffreyshen19" target = "_blank")
              i.fab.fa-github
            a(href = "https://www.linkedin.com/in/jeffrey-shen-39576ab1/" target = "_blank")
              i.fab.fa-linkedin
            a(href = "https://twitter.com/jeffreyshen10" target = "_blank")
              i.fab.fa-twitter
            a(href = "https://www.goodreads.com/user/show/45848993-jeffrey-shen" target = "_blank")
              i.fab.fa-goodreads
            a(href = "mailto:jjshen@mit.edu")
              i.fas.fa-envelope
      #content.column 
        section#about
          h1.is-size-3 About
          p Hey! I'm Jeffrey (he/him). I'm a student at MIT studying computer science and urban planning, with a minor in political science. I want to use technology to bring clarity and transparency to politics, and am especially interested in data journalism, city planning, open source software, and civic tech.
            br 
            br 
            | I'm currently an undergraduate researcher working in the MIT Political Science Department, and am also a volunteer data analyst for Sri Kulkarni's 2020 Congressional campaign. I also run a <a href = "https://blog.jeffreyshen.com" target = "_blank">blog</a> and a <a href = "https://notes.jeffreyshen.com" target = "_blank">micro-blog</a>, where I write about data visualization, politics, and more!
        section#portfolio
          h1.is-size-3 Portfolio
          h2.is-size-5 Research 
          .project.columns  
            .thumb.column.is-narrow
              img(src = "/assets/graphics/lobbyview.png")
            .text.column 
              p.is-heading.is-size-6 Jan 2020 - Present  
              p
                strong LobbyView 
              p Developing interactive data visualizations using D3 and React for LobbyView, a database of Congressional lobbying that aims to facilitate political science research and bring transparency to money in politics.

          .project.columns  
            .thumb.column.is-narrow
              img(src = "/assets/graphics/russia-new.png")
            .text.column 
              p.is-heading.is-size-6 Fall 2018
              p
                strong Russian Internet Disinformation
              p Used machine learning and sentiment analysis to explore Russian disinformation on Twitter in the 2016 and 2018 elections. Wrote an <a href = "https://dpclab.org/russia/">interactive data journalism series</a> and created a (now defunct) <a href = "https://twitter.com/TrackTheTrolls">Twitter bot</a>. Completed as part of an Independent Project at Phillips Academy with <a href = "https://rmrm.io/">R. Miles McCain</a>, under the mentorship of John Palfrey, Michael Barker, and Malgorzata Stergios.
          .project.columns  
            .thumb.column.is-narrow
              img(src = "/assets/graphics/china.jpg")
            .text.column 
              p.is-heading.is-size-6 Fall 2018
              p
                strong Deciphering Chinese Censorship
              p Developed the <a href = "https://dpclab.org/china/dashboard/">Weibo Censorship Dashboard</a>, a nearly real-time, fully open-source feed of  censorship on the popular Chinese social media site Weibo. Published <a href = "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3266193">paper</a> on SSRN. Completed as part of an Independent Project at Phillips Academy with <a href = "https://rmrm.io/">R. Miles McCain</a>, under the mentorship of John Palfrey, Michael Barker, and Malgorzata Stergios.
          h2.is-size-5 Politics 
          .project.columns  
            .thumb.column.is-narrow
              img(src = "/assets/graphics/gerrymandering.png")
            .text.column 
              p.is-heading.is-size-6 2018
              p
                strong Is My District Gerrymandered? 
              p Developed the <a href = "https://dpclab.org/china/dashboard/">Weibo Censorship Dashboard</a>, a nearly real-time, fully open-source feed of  censorship on the popular Chinese social media site Weibo. Published <a href = "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3266193">paper</a> on SSRN. Completed as part of an Independent Project at Phillips Academy with <a href = "https://rmrm.io/">R. Miles McCain</a>, under the mentorship of John Palfrey, Michael Barker, and Malgorzata Stergios.
          h2.is-size-5 Data Journalism
          h2.is-size-5 Full Stack Development
