doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Personal website of Jeffrey Shen, a developer and student at Phillips Academy.")
    meta(name = "author" content = "Jeffrey Shen")
    title Jeffrey Shen
    link(href='Assets/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='Assets/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
    script(src='Assets/bower_components/jquery/dist/jquery.min.js')
    script(src='Assets/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='Assets/bower_components/typed.js/dist/typed.min.js')
    script(src='dist/main-min.js')
  body
    .container-fluid
      nav.row
        .col-md-1.left
        .col-md-11.right
          a(href = "#skills") Skills
          a(href = "#portfolio") Portfolio
          a(href = "#projects") Projects
          a(href = "#books") My Books
          a(href = "#contact") Contact
      .row
        header.col-md-12.scrollbox
          center
            h1
              span#header-text 
            p I'm a student, programmer, and engineer at Phillips Academy interested in the intersection between computer science, big data, politics, and history. 
            br
            a.btn(href='#contact') Contact Me
            a.btn.btn-full(href = "https://drive.google.com/open?id=0B6w9AP5vVyo9REVlY0Rqd3BpSzA" target = "_blank") View Resume
          #bottom
            i.caption Scroll for more
            br
            a(href = "https://github.com/jeffreyshen19" target = "_blank" title = "Github")
              i.fa.fa-github.fa-fw
            a(href = "https://www.linkedin.com/in/jeffrey-shen-39576ab1/" target = "_blank" title = "LinkedIn")
              i.fa.fa-fw.fa-linkedin-square
            //a(href = "https://wakatime.com/@jeffreyshen19" target = "_blank" title = "Wakatime ")
              i.fa.fa-fw.fa-clock-o
      #body
        #skills.row.box.scrollbox
          i.fa.icon.fa-fw.fa-code
          h2 SKILLS
          hr
          .container
            .row
              .col-md-3
                .rating
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star-half
              .col-md-9
                h3 Javascript
                p
                  span 4 years experience
                  br
                  | Can use JS effectively in frontend, backend, and desktop apps.
            .row
              .col-md-3
                .rating
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star-half
              .col-md-9
                h3 Robotics
                p
                  span 6 years experience
                  br
                  | Has experience with competitive VEX Robotics and is the current head of Phillips Academy VEX Robotics.  
            .row
              .col-md-3
                .rating
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star-half
              .col-md-9
                h3 Web Development
                p
                  span 4 years experience
                  br
                  | Can build a variety of attractive, functional, and responsive websites.
            .row
              .col-md-3
                .rating
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star-half
              .col-md-9
                h3 Mathematics
                p
                  | Is able to apply mathematics to solve real world problems. Knows multivariable calculus and some statistics. 
            .row
              .col-md-3
                .rating
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star-o
              .col-md-9
                h3 Java
                p
                  span 3 years experience
                  br
                  | Can use Java effectively.
            .row
              .col-md-3
                .rating
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star-o
              .col-md-9
                h3 Data Visualization
                p
                  span 1 years experience
                  br
                  | Can make data visualizations with Processing and D3.js.
            .row
              .col-md-3
                .rating
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star
                  i.fa.fa-fw.fa-star-o
              .col-md-9
                h3 Research
                p
                  span 4 years experience
                  br
                  | Experienced in writing well-researched papers and reports. 
            br
        #portfolio.row.box.scrollbox
          i.fa.icon.fa-fw.fa-briefcase
          h2 PORTFOLIO
          hr
          ul.accordion
            h2.project-header 
              | Websites
              i.fa.fa-chevron-down
            li.projects
              .project
                h3 The Printer @ PA 
                a(href = "http://www.theprinteratpa.com") theprinteratpa.com
                p Developed and maintained the website for the The Printer @ PA, an organization at Phillips Academy that prints custom t-shirts. Written using Node.js, Pug (An HTML preprocessor), and SCSS.
                p.links
                  a(href = "https://github.com/jeffreyshen19/Printer-at-PA" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "http://www.theprinteratpa.com" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
              .project
                h3 Blue Moon
                a(href = "http://bluemoonjournal.com") bluemoonjournal.com
                p Developed and maintained the website for Blue Moon, the first print and online STEM magazine at Phillips Academy. Written on the Jekyll framework, using ruby, HTML, and CSS.
                p.links
                  a(href = "https://github.com/jeffreyshen19/Blue-Moon" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "http://bluemoonjournal.com" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
              .project
                h3 Polar Area Calculator
                a(href = "https://jeffreyshen19.github.io/Polar-Area-Calculator/") jeffreyshen19.github.io/Polar-Area-Calculator
                p Created an interactive polar grapher that can solve for the area bounded by polar curves. Created as a final calculus project for future calculus students at Phillips Academy.
                p.links
                  a(href = "https://github.com/jeffreyshen19/Polar-Area-Calculator" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "https://jeffreyshen19.github.io/Polar-Area-Calculator/" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
              .project
                h3 Level Curve Plotter
                a(href = "https://jeffreyshen19.github.io/Level-Curve-Plotter/") jeffreyshen19.github.io/Level-Curve-Plotter/
                p A project for Math 650 at Andover that plots and solves level curves and partial derivatives.
                p.links
                  a(href = "https://github.com/jeffreyshen19/Level-Curve-Plotter" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "https://jeffreyshen19.github.io/Level-Curve-Plotter/" target = "_blank") 
                    i.fa.fa-fw.fa-external-link 
              .project
                h3 Website for Dr. Van Savage
                a(href = "http://faculty.biomath.ucla.edu/vsavage/") faculty.biomath.ucla.edu/vsavage
                p Developed a personal webpage for Dr. Savage, Professor at UCLA. Written using standard HTML, CSS, and Javascript.
                p.links
                  a(href = "http://faculty.biomath.ucla.edu/vsavage/" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
              .project
                h3 Front End Boilerplate
                p Developed a personal Gulp/SCSS/Pug boilerplate for creating front-end websites. 
                p.links
                  a(href = "https://github.com/jeffreyshen19/frontend-boilerplate" target = "_blank") 
                    i.fa.fa-fw.fa-code
              .project
                h3 Techmasters
                a(href = "http://techmasters.io") techmasters.io
                p Developed website for Techmasters, a student run organization dedicated to providing tech help for the Phillips Academy Community. Written using HTML and CSS.
                p.links
                  a(href = "https://github.com/PATechmasters/techmasters.io" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "http://techmasters.io" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
              .project
                h3 Website for Jocelyn Shen
                a(href = "http://jocelynshen.com") jocelynshen.com
                p Developed a personal website for my sister using standard HTML, CSS, and Javascript.
                p.links
                  a(href = "https://github.com/jocelynshen/jocelynshen.github.io" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "http://jocelynshen.com" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
              .project
                h3 Andover / Exeter Day Website 2017
                a(href = "http://aeday.phillipian.net") aeday.phillipian.net
                p Helped develop the Andover / Exeter Day website for Phillipian. 
                p.links
                  a(href = "https://github.com/phillipian/aeday-2017" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "http://aeday.phillipian.net" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
            hr.long
            h2.project-header 
              | Data Visualization
              i.fa.fa-chevron-down
            li.projects
              .project
                h3 America Population Visualizer
                p A simple Processing sketch displaying the population of America and its territories over time. Data was collected and processed using Java. 
                p.links
                  a(href = "https://github.com/jeffreyshen19/America-Population" target = "_blank") 
                    i.fa.fa-fw.fa-code
              .project
                h3 Civil Asset Forfeiture in California
                p Data visualization showing civil asset forfeitures by county in California. Created using Javascript and D3.
                p.links
                  a(href = "https://github.com/jeffreyshen19/Asset-Forfeiture-in-California" target = "_blank") 
                    i.fa.fa-fw.fa-code
                  a(href = "http://jeffreyshen19.github.io/Asset-Forfeiture-in-California/" target = "_blank") 
                    i.fa.fa-fw.fa-external-link 
            hr.long
            h2.project-header 
              | Robotics
              i.fa.fa-chevron-down
            li.projects
              .project
                h3 Parallax.c
                p An extensible library of code developed to make programming competitive VEX robots easier. Developed as part of Phillips Academy's VEX robotics program. 
                p.links
                  a(href = "https://github.com/PARobotics/Robotics-Library" target = "_blank") 
                    i.fa.fa-fw.fa-code 
              .project
                h3 Parallax Curriculum
                p I spearheaded the development of a competitive VEX robotics curriculum for Phillips Academy Robotics to serve as a long term database of robotics knowledge.
                p.links
                  a(href = "https://github.com/PARobotics/parallax-curriculum" target = "_blank") 
                    i.fa.fa-fw.fa-external-link 
              .project
                h3 Code for VEX Robotics Competition In the Zone (2017-2018)
                p I lead the development of the code for Team 8900A's VEX Robotics code. 
                p.links
                  a(href = "https://github.com/PARobotics/In-the-Zone" target = "_blank") 
                    i.fa.fa-fw.fa-external-link 
              .project
                h3 Parallax Curriculum
                p I spearheaded the development of a competitive VEX robotics curriculum for Phillips Academy Robotics to serve as a long term database of robotics knowledge.
                p.links
                  a(href = "https://github.com/PARobotics/parallax-curriculum" target = "_blank") 
                    i.fa.fa-fw.fa-external-link 
              .project
                h3 VEX Robotics Data Analyzer
                p I developed a Jupyter notebook to help parse data for robotics. 
                p.links
                  a(href = "https://github.com/PARobotics/Analyzer" target = "_blank") 
                    i.fa.fa-fw.fa-external-link 
            hr.long
            h2.project-header 
              | Java
              i.fa.fa-chevron-down
            li.projects
              .project
                h3 Virtual IoT Server
                p Code developed as part of an internship with Dr. Peter Reiher @ UCLA. Sets up a virtual server to secure previously unencrypted Internet of Things communication
                p.links
                  a(href = "https://github.com/jeffreyshen19/Virtual-IoT-Server" target = "_blank") 
                    i.fa.fa-fw.fa-code 
            hr.long
            h2.project-header 
              | Writing
              i.fa.fa-chevron-down
            li.projects
              .project
                h3 The Economic Benefits of Open Source Software
                p.links
                  a(href = "./Assets/Essays/economic_benefits_of_open_source.pdf" target = "_blank") 
                    i.fa.fa-fw.fa-external-link
            hr.long
            h2.project-header 
              | Art
              i.fa.fa-chevron-down
            li.projects
              .project
                h3 Sgraffito Panda Bowl
                p Ceramic bowl with slip carving. Glazed with chun.
                p.links
                  a(href = "https://photos.app.goo.gl/4r4QLbOlbPLH17k83" target = "_blank") 
                    i.fa.fa-fw.fa-picture-o 
          br
          br
          br
        #books.row.box.scrollbox
          i.fa.fa-fw.icon.fa-book
          h2 BOOKS I'VE RECENTLY READ
          hr
          p I love to read! Here are some books I just finished reading:
          br  
          #books-row
          br
          p Check out my goodreads profile <a href = "https://www.goodreads.com/user/show/45848993-jeffrey" target = "_blank">here</a>.
        #contact.row.box.interstitial
          .img
          .overlay
          center
            h2 CONTACT ME
            p
              | If you have any project ideas, requests, or would just like to talk, shoot me an email at <strong>jeffreyshencc@gmail.com</strong>. I usually respond within 24 hours.
            a.btn(href = "mailto:jeffreyshencc@gmail.com")
              i.fa.fa-paper-plane
              | &nbsp;Shoot me a message
