#wrapper{
  padding: 30px 60px;

  #sidebar{
    width: 350px;

    img{
      width: 225px;
      margin-bottom: 10px;
    }

    .links{
      margin-bottom: 10px;

      a {
        color: $black;
        transition: 0.2s;

        &:hover{
          color: $blue;
        }
      }
    }

    .links-large{
      font-size: 18px;
    }

    .links-small{
      font-size: 14px;
    }

    .links-icon{
      i{
        margin-right: 7px;
      }
    }
  }

  #content{
    padding: 15px 0 0 80px;

    p{
      max-width: 600px;
    }

    a{
      color: $blue;
      text-decoration: underline;
    }

    section{
      margin-bottom: 40px;
    }
  }
}
