#wrapper{
  padding: 30px 60px;

  // Sidebar
  .column.is-narrow{
    width: 380px;

    img{
      width: 225px;
      margin-bottom: 10px;
    }

    .links{
      margin-bottom: 10px;

      a {
        color: $black;
        transition: 0.2s;

        &:hover{
          color: $blue;
        }
      }
    }

    .links-large{
      font-size: 18px;
    }

    .links-small{
      font-size: 14px;
    }

    .links-icon{
      i{
        margin-right: 7px;
      }
    }
  }
}
