body{
  overflow: hidden;
}

#wrapper{
  padding: 30px 60px;

  #sidebar{
    width: 350px;
    position: relative;

    a {
      color: $black;
      transition: 0.2s;

      &:hover{
        color: $blue;
      }
    }

    section{
      position: fixed;

      #profile{
        width: 225px;
        margin-top: 14px;
        margin-bottom: 10px;
      }

      .links{
        margin-bottom: 10px;
      }

      .links-large{
        font-size: 18px;
      }

      .links-small{
        font-size: 14px;
      }

      .links-icon{
        i{
          margin-right: 8px;
        }
      }
    }
  }

  #content{
    padding-top: 18px;
    padding-left: 30px;

    #mobile-profile{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p{
      max-width: 600px;
    }

    a{
      color: $blue;
      text-decoration: underline;
    }

    section{
      margin-bottom: 40px;
    }

    .project{
      margin-bottom: 30px;

      img{
        width: 200px;
      }

      .text{
        margin-top: -5px;

        strong{
          font-size: 20px;
        }
      }
    }

  }
}
