@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf");
  font-style: italic;
}

$black: #4a4a4a;
$blue: #3a539b;

h1{
  font-family: "Playfair";
  font-weight: bold;
}

h2{
  font-family: "Playfair";
  font-weight: normal;
  margin-bottom: 1em;
}

p, a {
  font-family: "IBMPlexSans";
}
